<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="/stylesheets/bootstrap-4.0.0-dist/css/bootstrap.min.css" type="text/css" rel="stylesheet"></head>
  </head>
  <body>
      <nav class="navbar navbar-dark bg-dark justify-content-between">
        <a class="navbar-brand" href="#"><%= title %></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <!--<li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>-->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Hello, Gen
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">Profile</a>
                <a class="dropdown-item" href="#">Settings</a>
                <a class="dropdown-item" href="#">Logout</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>

    <div id="content">
      <div id="midiPad">

        <div id="menu" class="container">

          <div class="row">

            <div class="col-3" id="monoOrPoly">
              
            </div>

            <div class="col-3" id="soundSelection">
              
            </div>

            <div class="col-3" id="octaveUpDown">
              
            </div>

            <div class="col-3" id="Brand">
              <h5>Wavy Pads</h5>  
            </div>

          </div>

        </div>

        <div id="knobs" class="container">

          <div class="row">

            <div class="knob col-3" id="knob1">
              <input type="range" class="input-knob" data-diameter="90" data-src="/images/knob70.png" data-sprites="100"/>
              <p></p>
            </div>

            <div class="knob col-3" id="knob2">
              <input type="range" class="input-knob" data-diameter="90" data-src="/images/knob70.png" data-sprites="100"/>
              <p>EQ</p>
            </div>

            <div class="knob col-3" id="knob3">
              <input type="range" class="input-knob" data-diameter="90" data-src="/images/knob70.png" data-sprites="100"/>
              <p>Reverb</p>
            </div>

            <div class="knob col-3" id="knob4">
              <input type="range" class="input-knob" data-diameter="90" data-src="/images/knob70.png" data-sprites="100"/>
              <p>Gain</p>
            </div>

          </div>

        </div>

        <div id="pads" class="container">

          <div class="row">
            <div class="col-3">
              <div class="pad" id="pad1">

              </div>
            </div>
            <div class="col-3">
              <div class="pad" id="pad2">

              </div>
            </div>
            <div class="col-3">
              <div class="pad" id="pad3">

              </div>
            </div>
            <div class="col-3">
              <div class="pad" id="pad4">

              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-3">
              <div class="pad" id="pad5">

              </div>
            </div>
            <div class="col-3">
              <div class="pad" id="pad6">

              </div>
            </div>
            <div class="col-3">
              <div class="pad" id="pad7">

              </div>
            </div>
            <div class="col-3">
              <div class="pad" id="pad8">

              </div>
            </div>
          </div>
          
          <div class="row">
            <div class="col-3">
              <div class="pad" id="pad9">

              </div>
            </div>
            <div class="col-3">
              <div class="pad" id="pad10">

              </div>
            </div>
            <div class="col-3">
              <div class="pad" id="pad11">

              </div>
            </div>
            <div class="col-3">
              <div class="pad" id="pad12">

              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>

    <footer class="footer">
      <div class="container">
        <span>Copyright 2020 - Genesis Barrios</span>
      </div>
    </footer>


    <script src="/stylesheets/bootstrap-4.0.0-dist/jquery.js"></script>
    <script src="/javascripts/input-knobs.js"></script>
  </body>
</html>
